* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--navbar-color);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------------------------- */

.main {
    animation: fadeIn ease 2s !important;
}

:root {
    --primary-color: white;
    --text-color: black;
    --navbar-color: #ebebeb;
    --selected-color: #c9c9c9;
    --fillable-color: white;
}

.darkmode {
    --primary-color: #424242;
    --text-color: white;
    --navbar-color: #313131;
    --selected-color: #666666;
    --fillable-color: #808080;
}

.logo {
    animation: fadeIn ease 2s;
    height: 5vw;
    width: 5vw;
    margin-left: 47%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.navbar {
    width: 100%;
    background-color: var(--primary-color);
    height: 5vw;
}


/* --------------------------------------------------------------------- */
/* Cookies (yum) */

.message {
    z-index: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    min-width: 25vw;
    max-width: 30vw;
    padding: 1vw;
    flex-direction: column;
    background-color: var(--selected-color);
    color: var(--text-color);
}

.lined-br {
    width: auto;
    max-height: 10px;
    margin: 1vw;
    border: var(--text-color) 0.1vh solid;
}

.message-button {
    width: 4vw;
    height: 2.5vw;
    padding: 0.2vw 0.1vw;
    margin: 1vw 3vw 0 3vw;
    color: white;
    text-align: center;
    border: 0 none;
    font-size: 1vw;
}

.message-button:hover {
    cursor: pointer;
}

.message-background {
    display: flex;
    background-color: black !important;
    opacity: 0.6 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none !important;
}

/* --------------------------------------------------------------------- */
/* Dropdown */

.dropdown-line {
    width: auto;
    max-height: 10px;
    margin: 0.5vh 0;
    border: var(--text-color) 0.1vh solid;
}

.dropdown-show {
    display: block !important;
    animation: fadeIn ease 0.1s;
}

.bar-block .bar-item {
    background-color: var(--selected-color);
    display: block;
    padding: 0.5vw 1vw;
    border: none;
    white-space: normal;
    width: 100%;
}

.dropdown {
    position: relative;
    float: right !important;
}

.dropdown-button {
    animation: fadeIn ease 2s;
    margin: 1.5vw !important;
    font-size: 2vw !important;
    color: var(--text-color);
}

.dropdown-area {
    right: 0;
    color: var(--text-color);
    background-color: var(--selected-color);
    display: none;
    position: absolute;
    width: 20vw;
    min-height: 50vw;
    z-index: 1
}

.dropped-button-logo {
    position: relative;
    float: right;
    right: 1vw;
    font-size: 1.5vw;
    margin: 0.2vw 1vw 0.2vw 0;
}

.dropped-button {
    display: inline-block;
    font-size: 1.5vw;
    border: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.dropped-button:focus {
    border: none !important;
}

.dropdown-hover {
    position: relative;
    display: inline-block;
}