* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.25rem;
    color: var(--text-color);
}

h2 {
    font-size: 2.5rem;
    color: var(--text-color);
}

body {
    background-color: var(--navbar-color);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------------------------- */

.main {
    animation: fadeIn ease 2s !important;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

:root {
    --primary-color: white;
    --text-color: black;
    --navbar-color: #ebebeb;
    --selected-color: #c9c9c9;
    --fillable-color: white;
}

.darkmode {
    --primary-color: #424242;
    --text-color: white;
    --navbar-color: #313131;
    --selected-color: #666666;
    --fillable-color: #808080;
}

.logo {
    animation: fadeIn ease 2s;
    height: 5vw;
    width: 5vw;
    margin-left: 47%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar {
    width: 100%;
    background-color: var(--primary-color);
    height: 5vw;
}


/* --------------------------------------------------------------------- */
/* Cookies (yum) */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-column {
    flex-direction: column;
}

.message {
    z-index: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    min-width: 25vw;
    max-width: 30vw;
    padding: 1vw;
    flex-direction: column;
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.lined-br {
    width: auto;
    max-height: 10px;
    margin: 1vw;
    border: var(--text-color) 0.1vh solid;
}

.message-select {
    width: 100%;
    height: 2vw;
    background-color: var(--selected-color);
}

.message-button {
    width: 7vw;
    height: 2.5vw;
    padding: 0.2vw 0.1vw;
    margin: 2vw 3vw 0 3vw;
    color: white;
    opacity: 1;
    text-align: center;
    border: 0 none;
    font-size: 1vw;
}

.message-button:hover {
    cursor: pointer;
}

.message-background {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.invisible {
    display: none !important;
}

/* --------------------------------------------------------------------- */
/* Dropdown */

.dropdown-line {
    width: auto;
    max-height: 10px;
    margin: 0.5vh 0;
    border: var(--text-color) 0.1vh solid;
}

.dropdown-show {
    display: block !important;
    animation: fadeIn ease 0.1s;
}

.bar-block .bar-item {
    background-color: var(--selected-color);
    display: block;
    padding: 0.5vw 1vw;
    border: none;
    white-space: normal;
    width: 20vw;
}

.dropdown {
    position: relative;
    float: right !important;
}

.dropdown-button {
    animation: fadeIn ease 2s;
    margin: 1.5vw !important;
    font-size: 2vw !important;
    color: var(--text-color);
}

.dropdown-area {
    right: 0;
    color: var(--text-color);
    background-color: var(--selected-color);
    display: none;
    position: absolute;
    width: 20vw;
    min-height: 50vw;
    z-index: 1
}

.dropped-button-logo {
    position: relative;
    float: right;
    right: 1vw;
    font-size: 1.5vw !important;
    margin: 0.2vw 1vw 0.2vw 0;
}

.dropped-button {
    display: inline-block;
    font-size: 1.5vw;
    border: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.dropped-button:focus {
    border: none !important;
}

.dropdown-hover {
    position: relative;
    display: inline-block;
}

/* Scroll bar */

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #808080 var(--selected-color);
}

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-track {
    background: var(--selected-color);
}

::-webkit-scrollbar-thumb {
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}